name: ubuntu
on:
  schedule:
    - cron: "17 * * * *"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  halal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U gpytranslate 'discord[speed]' \
            wikipedia simpleeval

      - name: Run Python
        run: python3 ./main.py
        env:
          TOKEN: ${{ secrets.TOK }}
