name: ubuntu
on:
  schedule:
    - cron: "17 * * * *"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  myubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U gpytranslate 'nextcord[speed]'

      - name: Run Python
        run: python file
        env:
          TOKEN: ${{ secrets.TOK }}
